<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhân diện Lễ hội Việt Nam</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/logo/flag-circle.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    {% from 'components/loading_spinner.html' import loading_spinner %} {% from
    'components/header.html' import header %} {% from
    'components/image_upload_form.html' import image_upload_form %} {% from
    'components/video_upload_form.html' import video_upload_form %} {% from
    'components/results_section.html' import results_section %} {{
    loading_spinner() }}

    <div class="bg">
      <div class="p-12">
        <div class="p-32 blur rounded-3xl">
          {{ header() }}
          <div class="blur rounded-2xl">
            {{ image_upload_form() }} {{ video_upload_form() }}
          </div>
        </div>
      </div>
    </div>

    {{ results_section(server_return, predicted, message, festival_info,
    conflict_images, results_images, error, video_uploaded, video_url, vtt_url)
    }}

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
