<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dự đoán lễ hội Việt Nam</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <style>
      /* Add custom styles for the loading spinner */
      .spinner {
        display: none; /* Hidden by default */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* Ensure it appears above other content */
      }
    </style>
  </head>
  <body class="gray-color-bg">
    <div class="p-6 lg:px-10">
      <!-- Loading Spinner -->
      <div class="spinner" id="loading-spinner">
        <svg
          class="animate-spin h-24 w-24 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v8H4z"
          ></path>
        </svg>
      </div>

      <form
        method="post"
        enctype="multipart/form-data"
        class="white-color-bg w-full shadow-lg rounded-lg p-8 mb-6 flex flex-col lg:flex-row justify-between"
        onsubmit="showSpinner()"
      >
        <div class="flex flex-row justify-center space-x-4 item-center">
          <image
            src="{{ url_for('static', filename='images/logo/flag-viet-nam-logo.jpg') }}"
            alt="Flag Vietnam Logo"
            class="w-16 h-10 items-center rounded-md"
          />
          <h3 class="text-4xl text-center text-indigo-600 text-color">
            Nhận diện lễ hội Việt Nam từ ảnh
          </h3>
        </div>
        <div
          class="flex flex-col lg:flex-row justify-center mt-5 lg:mt-0 space-y-4 space-x-0 lg:space-y-0 lg:space-x-4"
        >
          <label
            class="flex flex-col items-center w-full md:w-auto cursor-pointer"
          >
            <span
              id="file-count"
              class="bg-gray-200 text-gray-700 p-3 rounded-lg shadow-md w-full text-center transition duration-200 hover:bg-gray-300"
            >
              Chọn hình ảnh
            </span>
            <input
              type="file"
              name="images"
              multiple
              accept="image/*"
              class="hidden"
              onchange="validateFileCount(this); updateFileCount(this)"
            />
          </label>

          <button
            type="submit"
            class="bg-color text-yellow-200 lg:px-6 p-3 rounded-lg w-full md:w-auto shadow-lg hover:border-2 hover:border-black"
          >
            Dự đoán ảnh
          </button>
        </div>
      </form>

      <form method="post" action="/video" enctype="multipart/form-data" class="white-color-bg w-full shadow-lg rounded-lg p-8 mb-6 flex flex-col lg:flex-row justify-between" onsubmit="showSpinner()">
        <div class="flex flex-row justify-center space-x-4 item-center">
           <image
            src="{{ url_for('static', filename='images/logo/flag-viet-nam-logo.jpg') }}"
            alt="Flag Vietnam Logo"
            class="w-16 h-10 items-center rounded-md"
          />
          <h3 class="text-4xl text-center text-indigo-600 text-color">Nhận diện lễ hội Việt Nam từ video</h3>
        </div>
        <div class="flex flex-col lg:flex-row justify-center mt-5 lg:mt-0 space-y-4 space-x-0 lg:space-y-0 lg:space-x-4">
          <label class="flex flex-col items-center w-full md:w-auto cursor-pointer">
            <span class="bg-gray-200 text-gray-700 p-3 rounded-lg shadow-md w-full text-center transition duration-200 hover:bg-gray-300">
              Chọn video
            </span>
            <input
              type="file"
              name="video"
              accept="video/*"
              class="hidden"
            />
          </label>
          <button type="submit" class="bg-color text-yellow-200 lg:px-6 p-3 rounded-lg w-full md:w-auto shadow-lg hover:border-2 hover:border-black ">
            Dự đoán video
          </button>
        </div>
      </form>

      {% if error %}
      <div
        class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-6"
        role="alert"
      >
        <p>{{ error }}</p>
      </div>
      {% endif %} 
      {% if predicted %}
      <div
        class="bg-green-100 border-l-4 border-green-500 text-green-700 p-6 mb-6 rounded-lg shadow-lg flex flex-col lg:flex-row"
        role="alert"
      >
        {% set festival_image = { 
          'Lễ hội đua bò Bảy Núi':'images/festivals/bay-nui.jpg', 
          'Lễ hội Chùa Hương':'images/festivals/chua-huong.jpg', 
          'Lễ hội Cổ Loa':'images/festivals/co-loa.jpg', 
          'Hội Lim':'images/festivals/hoi-lim.jpeg', 
          'Lễ hội Lồng Tồng':'images/festivals/long-tong.jpg', 
          'Lễ hội Ok Om Bok':'images/festivals/ok-om-bok.jpg', 
          'Lễ hội Tháp Bà Ponagar':'images/festivals/ponagar.jpg', 
          'Lễ hội đua voi Tây Nguyên':'images/festivals/tay-nguyen.jpg'}[message] %}
        <img
          src="{{ url_for('static', filename=festival_image) }}"
          alt="Festival Image"
          class="w-full lg:w-80 h-auto mr-4 rounded-xl"
        />
        <div>
          <h3 class="text-lg font-semibold text-2xl">
            Các hình ảnh bạn cung cấp có thể liên quan đến {{ message }}
          </h3>
          {% if festival_info %}
          <p class="mt-2 text-md italic text-color text-lg">
            {{ festival_info }}
          </p>
          {% endif %}
        </div>
      </div>
      {% if video_uploaded %}
      <div class="mt-6">
        <video controls class="w-4/5 max-w-full mx-auto">
          <source src="{{ url_for('static', filename='uploads/' ~ video_url) }}" type="video/mp4">
          <track src="{{ url_for('static', filename='uploads/' ~ vtt_url) }}" kind="subtitles" srclang="vi" label="Vietnamese">
          Trình duyệt của bạn không hỗ trợ video tag.
        </video>
      </div>
      {% endif %}
      {% elif message %}
      <div
        class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-6 mb-6 rounded-lg shadow-lg text-lg flex"
        role="alert"
      >
        <h3 class="text-lg font-semibold text-2xl">{{ message }}</h3>
      </div>
      {% endif %} 
      {% if conflict_images %}
      <div
        class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-6"
        role="alert"
      >
        <h4 class="text-center text-lg font-semibold">
          Các hình ảnh sau đây có xung đột:
        </h4>
        <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 justify-items-center">
          {% for img1, img2 in conflict_images %}
          <li class="flex items-center space-x-4">
            <img
              src="{{ img1 }}"
              alt="Conflict Image 1"
              class="w-48 h-auto rounded-lg"
            />
            <span class="mx-2">và</span>
            <img
              src="{{ img2 }}"
              alt="Conflict Image 2"
              class="w-48 h-auto rounded-lg"
            />
          </li>
          {% endfor %}
        </ul>
      </div>
      {% else %} 
      {% if results %}
      <div
        class="gray-color-bg grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6"
      >
        {% for img_data, labels in results %}
        <div class="white-color-bg p-6 rounded-lg shadow-lg blur text-color">
          <img
            src="{{ img_data }}"
            alt="Image"
            class="w-full h-auto mb-4 rounded-lg"
          />
          <p class="mb-2">Ảnh có thể là 2 hoạt động sau:</p>
          <ul class="space-y-2">
            {% for label, prob in labels %}
            <li>{{ label[1] }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
      {% endif %} 
      {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
      function showSpinner() {
        document.getElementById('loading-spinner').style.display = 'block'; // Show the spinner
      }
    </script>
  </body>
</html>
